<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Yandex Disk File Viewer</title>
</head>
<body>
    <h1>Files on Yandex Disk</h1>
    <form method="get">
        <input type="hidden" name="public_key" value="{{ public_key }}">
        <input type="hidden" name="path" value="{{ request.GET.path }}">
        <label for="file_type">Filter by type:</label>
        <select name="file_type" id="file_type">
            <option value="">All</option>
            <option value="file" {% if request.GET.file_type == 'file' %}selected{% endif %}>Files</option>
            <option value="dir" {% if request.GET.file_type == 'dir' %}selected{% endif %}>Directories</option>
        </select>
        <button type="submit">Filter</button>
    </form>
    <form method="post" action="{% url 'download_multiple_files' %}">
        {% csrf_token %}
        <input type="hidden" name="public_key" value="{{ public_key }}">
        <input type="hidden" name="file_type" value="{{ request.GET.file_type }}">
        <ul>
            {% for file in files %}
                <li>
                    <input type="checkbox" name="file_paths" value="{{ file.path }}">
                    {{ file.name }} - 
                    {% if file.type == 'file' %}
                        <a href="{% url 'download_file' %}?public_key={{ public_key }}&file_path={{ file.path }}" download>Download</a>
                    {% else %}
                        <a href="{% url 'file_list' %}?public_key={{ public_key }}&path={{ file.path }}&file_type={{ request.GET.file_type }}">Open</a>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
        <button type="submit">Download Selected Files</button>
    </form>
    <a href="/">Back</a>
</body>
</html>